mat-checkbox.mat-checkbox {
    .mat-checkbox-inner-container {
        .mat-checkbox-frame {
            border-color: $hy-text-black;
        }
    }
    .mat-checkbox-label {
        color: $hy-text-black;
        .adf-property-label {
            color: $hy-text-black;
        }
    }

    &.mat-checkbox-checked {
        .mat-checkbox-inner-container {
            .mat-checkbox-background {
                background-color: map-get($hy-primary, 700);
            }
        }
    }

    &.mat-checkbox-disabled {
        .mat-checkbox-inner-container {
            .mat-checkbox-frame {
                border-color: $hy-text-disabled;
            }
        }
        .mat-checkbox-label {
            color: $hy-text-disabled;
            .adf-property-label {
                color: $hy-text-disabled;
            }
        }
        &.mat-checkbox-checked {
            .mat-checkbox-background {
                background-color: $hy-text-disabled;
            }
        }
    }
}

body {

    .mat-pseudo-checkbox {
        color:$hy-text-black;
    }

    .mat-primary .mat-pseudo-checkbox-checked,
    .mat-primary .mat-pseudo-checkbox-indeterminate {
        background-color: map-get($hy-primary, 700);
    }
}

