.mat-form-field {

    .mat-form-field-infix {
        .mat-input-element {
            color: $hy-text-black;
        }
    }

    .mat-form-field-wrapper {
        .mat-form-field-suffix {
            .mat-icon {
                color: $hy-text-black;
            }
        }
        .mat-form-field-underline {
            background-color: map-get($hy-neutral, 500);
            color: map-get($hy-neutral, 500);
        }
    }

    &.mat-form-field-disabled.adf-property-field,
    &.mat-form-field-disabled {
        .mat-form-field-infix {
            .mat-input-element {
                color: map-get($hy-neutral, 500);
            }
        }

        .mat-form-field-wrapper {
            .mat-form-field-suffix {
                .mat-icon {
                    color: $hy-text-disabled;
                }
            }
            .mat-form-field-underline {
                color: map-get($hy-neutral, 500);
                display: block;
            }
        }
    }

    &.mat-focused {
        .mat-form-field-infix {
            .mat-input-element {
                caret-color: map-get($hy-primary, 700);
                color: $hy-text-black;
            }
        }

        .mat-form-field-wrapper {
            .mat-form-field-suffix {
                .mat-icon {
                    color: $hy-text-black;
                }
            }

            .mat-form-field-underline {
                .mat-form-field-ripple {
                    background-color: map-get($hy-primary, 700);
                }
            }
        }
    }

    &.adf-property-field-has-error,
    &.mat-form-field-has-error,
    & + .mat-error,
    &.mat-form-field-invalid {
        .mat-form-field-infix {
            .ama-mat-error,
            .mat-input-element {
                color: $hy-text-black;
            }
        }

        .mat-form-field-wrapper {
            .mat-form-field-underline {
                background-color: $hy-error;
                .mat-form-field-ripple {
                    background-color: $hy-error;
                }
            }
        }
    }
}

div.adf-property-list {
    .adf-property {
        .ama-process-properties-version-title {
            color: $hy-text-black;
        }
        ama-card-process-category,
        ama-process-name,
        adf-card-view-textitem {
            .adf-property-label {
                color: $hy-text-black;
            }
        }
        .ama-process-properties-version-value,
        .adf-property-value {
            color: $hy-text-black;
        }
    }
}

.adf-property {
    adf-card-view-item-dispatcher {
        ama-multi-instance-item {
            .mat-form-field-infix {
                .adf-property-label {
                    color: $hy-text-black;
                }
            }
        }
    }
}

.mat-form-field-label-wrapper {
    .mat-form-field-label.mat-empty,
    .mat-form-field-label.mat-form-field-empty {
        color:$hy-text-disabled !important;
    }
}
