body {
    .adf-error-snackbar,
    .adf-warning-snackbar,
    .adf-info-snackbar {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.12),
            0 1px 10px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
    }

    .adf-error-snackbar,
    .adf-info-snackbar {
        color: $hy-text-white;
        .mat-icon {
            color: $hy-text-white;
        }
    }

    .adf-error-snackbar {
        background-color: $hy-error;
    }

    .adf-info-snackbar {
        background-color: $hy-informational;
    }

    .adf-warning-snackbar {
        background-color: $hy-warning;
        color: $hy-text-black;
        .mat-icon {
            color: $hy-text-black;
        }
    }
}
