body {
    .adf-error-snackbar,
    .adf-warning-snackbar,
    .adf-info-snackbar {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.12),
            0 1px 10px rgba(0, 0, 0, 0.2);
        color:$hy-text-white;
        border-radius: 8px;
    }
}
