@mixin ama-process-modeler($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);

    .canvas-editor {
        width: 100%;
        height: 100%;
        flex: 1 1 auto;
    }

    .bpmn-properties {
        width: 276px;
        overflow: auto;
        flex: 1 0 auto;
        border-left: 1px solid mat-color($foreground, text, 0.07);
        background-color: mat-color($foreground, text, 0.02);
    }

    .process-palette {
        position: absolute;
        top: 8px;
        left: 8px;
        display: block;
        width: auto;
        z-index: 2;
    }

    .bpmn-controls {
        width: auto;
        position: absolute;
        right: 8px;
        z-index: 2;
        background: mat-color($background, raised-button);
        box-shadow: 0 1px 4px mat-color($foreground, slider-off);
        border-radius: 2px;
        list-style: none;
        padding: 5px 5px 0 5px;
        margin: 0;

        &.bpmn-actions-controls {
            top: 8px;
        }

        &.bpmn-middle-controls {
            top: 180px;
            transform: rotate(90deg) translateX(-50%) translateY(-100%);
            padding: 0 7px 0 7px !important;
            right: -4px !important;
        }

        &.bpmn-zoom-controls {
            bottom: 80px;
        }

        hr {
            border: none;
            border-top: solid 1px mat-color($foreground, slider-off);
            margin: 0 0 5px 0;
        }

        button {
            padding: 0;
            margin: 0;
            line-height: 0;
            outline: none;
            cursor: pointer;
            color: mat-color($foreground, secondary-text);
            background: none;
            border: none;
        }
    }
}
