@mixin ama-projects-list($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);

    .dashboard {
        display: flex;
        justify-content: center;

        &-list {
            flex: 1 0 auto;
            background: transparent;

            .mat-header-row {
                background: mat-color($background, card);
                padding: 0 24px 0 0;
            }

            .mat-row {
                cursor: pointer;
                transition: background-color 250ms;
                padding: 0 24px 0 0;

                .mat-cell {
                    line-height: 48px;
                    vertical-align: middle;
                }

                .mat-icon.thumbnail {
                    transition: color 250ms;
                }

                &:hover {
                    background-color: mat-color($background, selected-button);

                    .mat-icon.thumbnail {
                        color: mat-color($accent);
                    }
                }
            }

            .cdk-column-thumbnail {
                flex: 0 1 auto;
                min-width: 24px;
                padding-left: 24px;
                .mat-icon {
                    vertical-align: middle;
                }
            }

            .cdk-column-name {
                padding: 0 24px;
                flex-grow: 1;
            }

            .cdk-column-menu {
                flex: 0 1 auto;
                padding-right: 0
            }
        }

        &-spinner {
            margin-top: 48px;
        }

        &-emptylist .adf-empty-content {
            margin-top: 48px;
            text-align: center;
        }
    }
}
