<ng-container *ngIf="showConsole$ | async let showConsole;">
    <mat-toolbar class="log-history-toolbar">
        <span class="log-history-toolbar-title">Log history for</span>
            <mat-select placeholder="All" [(ngModel)]="filterType" (selectionChange)="changeFilter()" class="log-history-filters">
                <mat-option *ngFor="let filter of filters" [value]="filter">
                    {{filter.displayName | translate}}
                </mat-option>
            </mat-select>
        <div class="log-history-controls">
            <button mat-icon-button data-automation-id='collapse' (click)="toggleConsole()">
                <mat-icon>expand_more</mat-icon>
            </button>
            <button mat-icon-button data-automation-id='deleteLogs' (click)="clearLogs()">
                <mat-icon>delete_sweep</mat-icon>
            </button>
        </div>
    </mat-toolbar>
    <ama-log-history class="log-history" [messages]="logs$ | async"></ama-log-history>
</ng-container>
<mat-toolbar class="editor-footer-toolbar">
    <div class="editor-footer-toolbar-left">
        <div class="loading-indicator" *ngIf="editorFooterService.inProgress$ | async">
            <mat-progress-spinner color="primary" mode="indeterminate" diameter="20"></mat-progress-spinner>
        </div>
    </div>
    <div class="editor-footer-toolbar-right">
        <div class="footer-user-message">{{ editorFooterService.userMessage$ | async | translate }}</div>
        <div class="message-indicator" [class.inactive]="!(editorFooterService.isNewError$ | async)"
            (click)="toggleConsole()">
            {{ editorFooterService.newErrorNumber$ | async }}
        </div>
    </div>
</mat-toolbar>
