# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/lib/
/tmp
/.tmp
/nxcache
/out-tsc
/e2e-output
/reports

# dependencies
/node_modules
**/node_modules

# IDEs and editors
/.idea
*.iml
*.tar
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.history
.angular

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/closest-config-finder.sh
!.vscode/vscode-e2e-launcher.sh
.history

# misc
/.sass-cache
/connect.lock
**/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
/envs/
.env
**/versions.json
app/.tmp

# e2e
/e2e/*.map
/e2e/*.env
.protractor-fail-fast
.protractor-smartrunner
/protractorFailuresReport

# System Files
.DS_Store
Thumbs.db

# Project specific
**/.app.config.json
community.patch
.os_repo
!/licenses.txt
