@mixin ama-application-tree-icons($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);

    .application-tree-icons {
        height: 48px;
        padding: 0 0 0 8px;
        display: flex;
        align-items: center;

        .application-tree-icon {
            color: mat-color($primary);
            cursor: pointer;

            &:hover {
                color: mat-color($accent);
            }
        }
    }
}
