
.multi-instance-block {
    position: relative;
    display: flex;
    flex-direction: column;

    .mat-form-field {
        width: 100%;
    }

    .mat-form-field-infix {
        border-top: 0;
    }

}

