<div class="process-editor">
    <ng-container *ngIf="!(loading$ | async); else loading;">
        <div class="process-editor-modeling" [attr.data-automation-id]="'process-editor-modeling'">
            <ama-process-header
                [process]="process$ | async"
                [disableSave]="disableSave"
                [breadcrumbs$]="breadcrumbs$"
                [content]="content$ | async">
            </ama-process-header>
            <mat-tab-group [@.disabled]="true" class="ama-process-tab-group" *ngIf="process$ | async as process;">
                <mat-tab label="{{ 'PROCESS_EDITOR.TABS.DIAGRAM_EDITOR' | translate }}">
                    <div class="process-editor-modeling-area" cdkDropList>
                        <ama-process-modeler
                            (onChange)="onBpmnEditorChange($event)"
                            [source]="bpmnContent$ | async"
                            class="process-editor-modeling-area-modeler"
                            [attr.data-automation-id]="'process-editor-modeler'">
                        </ama-process-modeler>
                        <ama-process-properties class="process-editor-modeling-area-properties"
                            [attr.data-automation-id]="'process-editor-properties'">
                        </ama-process-properties>
                    </div>
                </mat-tab>
                <mat-tab label="{{ 'PROCESS_EDITOR.TABS.RAW_EDITOR' | translate }}">
                    <div class="ama-process-code-editor" data-automation-id="process-basic-tab">
                        <amasdk-code-editor
                            (changed)="onXmlChangeAttempt($event)"
                            [vsTheme]="vsTheme$ | async"
                            [options]="{language: 'xml'}"
                            [content]="content$ | async"
                            [fileUri]="processFileUri$ | async"
                            [language]="processesLanguageType">
                        </amasdk-code-editor>
                    </div>
                </mat-tab>
                <mat-tab label="{{ 'PROCESS_EDITOR.TABS.EXTENSIONS_EDITOR' | translate }}">
                    <div class="ama-process-code-editor" data-automation-id="extensions-tab">
                        <amasdk-code-editor
                            (changed)="onExtensionsChangeAttempt($event, process.id)"
                            [vsTheme]="vsTheme$ | async"
                            [content]="extensions$ | async"
                            [fileUri]="extensionFileUri$ | async"
                            [language]="extensionsLanguageType">
                        </amasdk-code-editor>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </ng-container>

    <ng-template #loading>
        <div class="process-editor-spinner">
            <mat-spinner></mat-spinner>
        </div>
    </ng-template>
</div>
