@import "bpmn-io";

@mixin ama-process-editor($theme) {
    .process-editor {
        height: 100%;
        overflow-y: hidden;

        .ama-process-tab-group {
            flex: 1 1 auto;

            .mat-tab-body-wrapper {
                flex: 1 1 auto;

                .mat-tab-body-content {
                    flex: 1 1 auto;
                    display: flex;
                    overflow: hidden;

                    .ama-process-code-editor {
                        display: flex;
                        flex: 1 1 auto;
                        overflow: auto;

                        &-raw-editor {
                            overflow:hidden;
                        }
                    }
                }
            }
        }

        amasdk-code-editor {
            display: flex;
            width: 100%;
            flex: 1 1 auto;

            .code-editor {
                flex: 1 0 auto;
                height: auto;
            }
        }

        &-modeling {
            display: flex;
            flex-direction: column;
            height: 100%;

            &-area {
                display: flex;
                flex-direction: row;
                flex: 1 0 auto;
                max-height: 100%;

                &-modeler {
                    flex: 1 1 auto;
                }

                &-properties {
                    width: 360px;
                    box-sizing: border-box;
                }
            }
        }

        &-spinner {
            padding-top: 48px;
            height: 100%;
            display: flex;
            justify-content: center;
        }
    }
}
