<adf-toolbar>
    <adf-toolbar-title>
        <modelingsdk-header-breadcrumbs [breadcrumbs$]="breadcrumbs$"></modelingsdk-header-breadcrumbs>
    </adf-toolbar-title>

    <div class="adf-toolbar--spacer"></div>

    <button mat-icon-button *ngIf="isDiagramTabSelected()"
        data-automation-id="process-editor-download-svg-button"
        [title]="'PROCESS_EDITOR.SAVE_PROCESS_IMAGE' | translate"
        (click)="onSaveProcessImage(process)">
        <mat-icon>image</mat-icon>
    </button>

    <button mat-icon-button
        data-automation-id="process-editor-download-button"
        [title]="'PROCESS_EDITOR.DOWNLOAD_PROCESS' | translate"
        (click)="onDownload(process)">
        <mat-icon>file_download</mat-icon>
    </button>

    <button mat-icon-button
        data-automation-id="process-editor-validate-button"
        [title]="'PROCESS_EDITOR.VALIDATE_PROCESS' | translate"
        (click)="onValidateProcess(process)">
        <mat-icon>done</mat-icon>
    </button>

    <button mat-icon-button
        data-automation-id="process-editor-save-button"
        [disabled]="disableSave"
        [title]="'PROCESS_EDITOR.SAVE_PROCESS' | translate"
        (click)="onSaveClick()">
        <mat-icon>save</mat-icon>
    </button>

    <button mat-icon-button
        data-automation-id="process-editor-menu-button"
        [title]="'APP.MORE_ACTIONS' | translate"
        [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
        <button mat-menu-item
            data-automation-id="process-editor-delete-button"
            (click)="deleteProcess()">
            <mat-icon>delete</mat-icon>
            <span>{{ 'APP.MENU.DELETE' | translate }}</span>
        </button>
    </mat-menu>

</adf-toolbar>
