@import "./components/process-editor/process-editor.component";
@import "./components/process-modeler/process-modeler.component";
@import "./components/process-properties/process-properties.component";
@import "./components/process-modeler/process-modeler-bpmnjs.component";
@import "./services/cardview-properties/implementation-item/implementation-item.component";
@import "./services/cardview-properties/default-sequence-flow/default-sequence-flow-item.component";
@import "./services/cardview-properties/process-variable-item/process-variable-item.component";

@mixin ama-process-editor-module($theme) {
    @include ama-implementation-item($theme);
    @include ama-default-sequence-flow-item($theme);
    @include ama-process-editor($theme);
    @include ama-process-modeler($theme);
    @include ama-process-properties-panel($theme);
    @include ama-process-modeler-bpmnjs($theme);
    @include ama-process-variable-item($theme);
}
