<ng-container *ngIf="showConsole">
    <mat-toolbar class="log-history-toolbar">
        <span class="log-history-toolbar-title">Log history</span>
        <div class="log-history-controls">
            <button mat-icon-button (click)="toggleConsole()">
                <mat-icon>expand_more</mat-icon>
            </button>
            <button mat-icon-button (click)="clearLogs()">
                <mat-icon>delete_sweep</mat-icon>
            </button>
        </div>
    </mat-toolbar>
    <ama-log-history class="log-history" [messages]="editorFooterService.logs$ | async"></ama-log-history>
</ng-container>
<mat-toolbar class="editor-footer-toolbar">
    <div class="editor-footer-toolbar-left">
        <div class="loading-indicator" *ngIf="editorFooterService.inProgress$ | async">
            <mat-progress-spinner color="primary" mode="indeterminate" diameter="20"></mat-progress-spinner>
        </div>
    </div>
    <div class="editor-footer-toolbar-right">
        <div class="footer-user-message">{{ editorFooterService.userMessage$ | async | translate }}</div>
        <div
            class="message-indicator"
            [class.inactive]="!(editorFooterService.isNewError$ | async)"
            (click)="toggleConsole()">{{ editorFooterService.newErrorNumber$ | async }}</div>
    </div>
</mat-toolbar>
