<adf-toolbar>
    <adf-toolbar-title>
        <modelingsdk-header-breadcrumbs [breadcrumbs$]="breadcrumbs$">
        </modelingsdk-header-breadcrumbs>
    </adf-toolbar-title>

    <div class="adf-toolbar--spacer"></div>

    <button mat-icon-button
        [title]="'CONNECTOR_EDITOR.DOWNLOAD_CONNECTOR' | translate"
        (click)="onDownload()"
        data-automation-id="connector-editor-download-button">
        <mat-icon>file_download</mat-icon>
    </button>

    <button mat-icon-button
        [title]="'CONNECTOR_EDITOR.VALIDATE_CONNECTOR' | translate"
        (click)="onValidate()"
        data-automation-id="connector-editor-validate-button">
        <mat-icon>done</mat-icon>
    </button>

    <button mat-icon-button
        [title]="'CONNECTOR_EDITOR.SAVE_CONNECTOR' | translate"
        data-automation-id="connector-editor-save-button"
        [disabled]="disableSave"
        (click)="onSave()">
        <mat-icon>save</mat-icon>
    </button>

    <button mat-icon-button
        [title]="'APP.MORE_ACTIONS' | translate"
        data-automation-id="connector-editor-menu-button"
        [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
        <button mat-menu-item
            (click)="onDelete()"
            data-automation-id="connector-editor-delete-button">
            <mat-icon>delete</mat-icon>
            <span>{{ 'APP.MENU.DELETE' | translate }}</span>
        </button>
    </mat-menu>

</adf-toolbar>
