@mixin ama-editor-footer($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);

    .editor-footer {

        .mat-toolbar {
            border: 1px solid mat-color($foreground, text, 0.07);
            border-left: none;
            border-right: none;
            border-bottom: none;
            font-size: 12px;

            &.mat-toolbar-single-row {
                height: 32px;
                line-height: 32px;
                padding: 6px 12px;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }

            &.editor-footer-toolbar {

                .editor-footer-toolbar-left {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    flex-wrap: nowrap;
                }

                .editor-footer-toolbar-right {

                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    align-items: center;
                    flex-wrap: nowrap;

                    .footer-user-message {
                        margin-right: 12px;
                    }

                    .message-indicator {
                        padding: 0 2px;
                        min-width: 20px;
                        height: 20px;
                        border-radius: 10px;
                        background-color: mat-color($warn);
                        color: mat-color($warn, default-contrast);
                        line-height: 20px;
                        text-align: center;
                        cursor: pointer;

                        &.inactive {
                            background-color: mat-color($background, unselected-chip);
                            color: mat-color($foreground, disabled-text);
                        }
                    }
                }
            }

            &.log-history-toolbar {
                padding: 0 12px;

                .log-history-toolbar-title {
                    font-size: 14px;
                }

                .log-history-controls {
                    button {
                        width: 32px;
                        height: 32px;
                        line-height: 32px;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
