<adf-toolbar class="inline project-header">
    <ng-container *ngIf="project$ | async as project;">
        <adf-toolbar-title>
            <button
                data-automation-id="project-navigate-home"
                color="accent"
                mat-icon-button
                routerLink="/"
                [title]="'APP.PROJECT.BACK_TO' | translate">
                <mat-icon>home</mat-icon>
            </button>
            <span class="project-name">{{ project.name }} ({{ project.version }})</span>
        </adf-toolbar-title>

        <div class="adf-toolbar--spacer"></div>

        <button
            mat-icon-button
            data-automation-id="project-download-button"
            [title]="'APP.DOWNLOAD_APP' | translate"
            (click)="downloadApp(project)">
            <mat-icon>file_download</mat-icon>
        </button>

        <button
            mat-icon-button
            [title]="'APP.PROJECT.SETTINGS.PROJECT_SETTINGS' | translate"
            (click)="openSettingsDialog(project)">
            <mat-icon>settings</mat-icon>
        </button>

        <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            [attr.data-automation-id]="'project-context-' + project.id"
            [title]="'APP.MORE_ACTIONS' | translate">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="releaseProject(project.id)" class="project-release-button" [attr.data-automation-id]="'project-release-' + project.id">
                <mat-icon>new_releases</mat-icon> <span>{{ 'APP.MENU.RELEASE' | translate }}</span>
            </button>
            <button mat-menu-item (click)="seeReleasesForProject(project.id)" class="project-releases-button" [attr.data-automation-id]="'project-releases-' + project.id">
                <mat-icon>remove_red_eye</mat-icon> <span>{{ 'APP.MENU.SEE_RELEASES' | translate }}</span>
            </button>
        </mat-menu>
    </ng-container>
</adf-toolbar>
<h1 class="ama-no-selection">{{ 'APP.PROJECT.NO_SELECTION' | translate}}</h1>
