@mixin ama-project-settings($theme) {
    $foreground: map-get($theme, foreground);

    .project-settings-dialog {
        .mat-tab-body-content {
            height: 250px;
        }

        adf-dynamic-component {
            .mat-dialog-title {
                display: none;
            }

            .mat-dialog-actions {
                margin-bottom: 0;
                padding: 0;
            }

            .mat-dialog-content {
                margin: 0;
                height: 195px;
            }
        }
    }
}
