<div class="implementation-block">
    <mat-form-field>
        <div class="adf-property-label">{{ 'PROCESS_EDITOR.ELEMENT_PROPERTIES.IMPLEMENTATION' | translate }}</div>
        <input matInput (change)="changeImplementation()" [(ngModel)]="implementation" />
    </mat-form-field>

    <mat-form-field>
        <div class="adf-property-label">{{ 'PROCESS_EDITOR.ELEMENT_PROPERTIES.INPUTS' | translate }}</div>
        <textarea matInput (change)="changeVariablesMapping()" [(ngModel)]="inputs"></textarea>
    </mat-form-field>

    <mat-form-field>
        <div class="adf-property-label">{{ 'PROCESS_EDITOR.ELEMENT_PROPERTIES.OUTPUTS' | translate }}</div>
        <textarea matInput (change)="changeVariablesMapping()" [(ngModel)]="outputs"></textarea>
    </mat-form-field>
</div>
