<div class="ama-upload-button">

    <div (click)="onClick($event)" data-automation-id="upload-button">
        <div #ref><ng-content></ng-content></div>

        <div *ngIf="!ref.innerHTML.trim()">
            <button class="deafult-upload-button" mat-stroked-button>
                <mat-icon>file_upload</mat-icon> {{'PROJECT_EDITOR.UPLOAD' | translate }}
            </button>
        </div>
    </div>

    <input type="file" #fileInput (click)="$event.stopPropagation()" (change)="onUpload($event.target.files)" accept="{{ acceptedFileTypes }}"
        class="ama-upload-button__file-input" data-automation-id="upload-input"/>
</div>
