@mixin ama-upload-file-button($theme) {
    $primary: map-get($theme, primary);
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);

    .ama-upload-button {
        input[type="file"] {
            display: none;
        }

        .deafult-upload-button {
            width: 100%;
            margin-top: 10px;
            margin-bottom: 5px;
            line-height: 25px;

            mat-icon {
                font-size: 18px;
                color: mat-color($foreground, icons);
                line-height: 25px;
            }
        }
    }
}
