<mat-card cdkDrag cdkDragBoundary=".process-editor-modeling-area">
    <div class="palette-header" cdkDragHandle>
        <mat-icon (click)="toggleOpen()">more_horiz</mat-icon>
    </div>
    <div class="palette-body" [class.opened]="opened">
        <ng-container *ngFor="let item of paletteElements">
            <ng-container
                 *ngIf="!isSeparator(item); else separator">
                <ng-container *ngTemplateOutlet="hasChildren(item) ? containerElement : clickableElement; context: { $implicit: item }">
                </ng-container>
            </ng-container>
        </ng-container>
    </div>
</mat-card>

<ng-template #containerElement let-item>
    <div class="entry {{item.icon}}">
        <button
            [title]="item.title | translate"
            [attr.data-automation-id]="item.group + '::' + item.type"
            ama-palette-overlay
            [templatePortalContent]="templateContent"
            [amaPaletteItem]="item"
            [amaPaletteOverlayRef]="overlayRef">
        </button>
    </div>
</ng-template>

<ng-template #clickableElement let-item>
    <div class="entry-parent">
        <div class="entry svg" *ngIf="paletteIconSvg[item?.svg]">
            <button
                [title]="item.title | translate"
                [attr.data-automation-id]="item.group + '::' + item.type"
                [innerHTML]="paletteIconSvg[item?.svg]"
                draggable="true"
                (click)="onClick(item, $event)"
                (dragstart)="onDrag(item, $event)">
            </button>
        </div>
        <div *ngIf="!paletteElementIcons[item?.svg]"
            class="entry {{item.icon}}"
            [class.selected]="item === selectedTool">
            <button
                [title]="item.title | translate"
                [attr.data-automation-id]="item.group + '::' + item.type"
                *ngIf="!hasChildren(item)"
                draggable="true"
                (click)="onClick(item, $event)"
                (dragstart)="onDrag(item, $event)">
            </button>
        </div>
        <span class="drawer-item-tag" *ngIf="item.tag" [title]="item.title | translate" draggable="true"
        (click)="onClick(item, $event)" (dragstart)="onDrag(item, $event)">{{item.tag | translate}}</span>
    </div>
</ng-template>

<ng-template #separator>
    <hr class="separator">
</ng-template>

<ng-template let-item #drawer>
    <mat-card class="palette-drawer" >
        <div class="palette-body">
            <ng-container *ngFor="let child of item.children">
                <ng-container *ngTemplateOutlet="hasChildren(child) ? containerElement : clickableElement; context: { $implicit: child }">
                </ng-container>
            </ng-container>
        </div>
    </mat-card>
</ng-template>
