@mixin ama-palette($theme) {
    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, primary);

    ama-palette .mat-card {
        height: 450px;
        width: 45px;
        border: 1px solid mat-color($foreground, text, 0.07);
        background: mat-color($foreground, text, 0.03);
        border-radius: 0px;
        margin: 10px;
        box-sizing: border-box;
        padding: 6px;

        .entry {
            font-size: 30px;
            margin-top: 10px;

            &:hover {
                color: mat-color($primary);
                cursor: pointer;
            }
        }

        .separator {
            border-color: mat-color($foreground, text, 0.05);
        }
    }
}
