@mixin ama-palette($theme) {
    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, primary);

    ama-process-palette .mat-card {
        width: 25px;
        border: 1px solid mat-color($foreground, text, 0.07);
        background: mat-color($foreground, text, 0.03);
        border-radius: 0px;
        margin: 10px;
        box-sizing: content-box;
        padding: 6px 6px 0 6px;

        .entry {
            font-size: 25px;
            border: 0;
            background: transparent;
            padding: 0;

            &:not(:first-child) {
                margin-top: 5px;
                margin-bottom: 5px;
            }

            &:last-child {
                margin-bottom: 0;
            }

            button {
                cursor: pointer;
                position: absolute;
                height: 25px;
                width: 25px;
                margin-left: -30px;
                background: transparent;
                border: none;
                outline: none;
            }

            &:hover {
                color: mat-color($primary);
            }
        }

        .separator {
            border-color: mat-color($foreground, text, 0.05);
        }
    }

    .mat-menu-panel.palette-drawer {
        min-width: 25px;
        box-sizing: content-box;
        padding: 0 6px 0 6px;
        text-align: center;
        font-size: 25px;
        background: mat-color($foreground, text, 0.03);
        margin-left: 40px;
        margin-top: -45px;

        .entry {
            &:hover {
                color: mat-color($primary);
                cursor: pointer;
            }
        }

        .entry:not(:first-child) {
            margin-top: 5px;
            margin-bottom: 5px;

            &:last-child {
                margin-bottom: 0;
            }
        }

    }
}
