<h2 mat-dialog-title *ngIf="title">{{ title | translate }}</h2>

<mat-dialog-content>
    <p *ngIf="subtitle">{{ subtitle | translate }}</p>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <span class="adf-fill-remaining-space"></span>
    <button mat-button *ngFor="let choice of choices"
        [attr.data-automation-id]="'dialog-button-' + choice.choice"
        (click)="choose(choice.choice)"
        [color]="choice.color ? $any(choice.color) : null"
        [disabled]="disableButtons">
        {{ choice.title | translate }}
        <mat-icon *ngIf="isSpinnerVisible(choice)">
            <mat-spinner color="primary" diameter="20"></mat-spinner>
        </mat-icon>
    </button>

</mat-dialog-actions>
