<h2 mat-dialog-title>{{ title | translate }}</h2>

<mat-dialog-content>
    <p *ngIf="subtitle">{{ subtitle | translate }}</p>

    <ul *ngIf="messages.length">
        <li *ngFor="let message of messages">{{ message | translate }}</li>
    </ul>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <span class="adf-fill-remaining-space"></span>

    <button mat-button
        [attr.data-automation-id]="'dialog-close'"
        mat-dialog-close
        (click)="choose(false)">
        {{ 'APP.DIALOGS.CANCEL' | translate }}
    </button>

    <button class="adf-dialog-action-button"
        [attr.data-automation-id]="'dialog-confirm'"
        color="primary"
        mat-button
        (click)="choose(true)">
        {{ 'APP.DIALOGS.CONFIRM.BUTTON' | translate }}
    </button>
</mat-dialog-actions>
