@mixin ama-due-date-item($theme) {

    .due-date-block {

        .mat-form-field {
            width: 100%;
        }

        .mat-input-element {
            margin-top: 7px;
        }

        .due-date-input {
            padding-top: 10px;
        }
    }
}


