<mat-expansion-panel class="application-tree-filter"
    [expanded]="expanded"
    [hideToggle]="true"
    (opened)="filterOpened(filter.type)"
    (closed)="filterClosed(filter.type)">

    <mat-expansion-panel-header>
        <mat-icon class="application-tree-filter__icon filter-icon"
            *ngIf="!loading; else contentsAreLoading;">{{ filter.icon }}</mat-icon>
        <span class="application-tree-filter__title">{{ filter.name | translate }}</span>
        <ama-upload-file-button [type]="filter.type"
            [applicationId]="applicationId">
        </ama-upload-file-button>
    </mat-expansion-panel-header>

    <div class="application-tree-filter__content">
        <ng-container *ngIf="contentHasBeenLoaded();">
            <a mat-button
                class="application-tree-filter__button"
                *ngFor="let item of contents"
                [routerLink]="[filter.type, item.id]"
                [routerLinkActive]="['active']">
                <mat-icon class="application-tree-filter__icon">insert_drive_file</mat-icon> {{ item.name | processName }}
            </a>
            <div class="application-tree-filter__no-content"
                *ngIf="contentsAreEmpty()">{{ 'APP.APPLICATION.NO_CONTENT' | translate }}</div>
        </ng-container>
    </div>
</mat-expansion-panel>

<ng-template #contentsAreLoading>
    <div class="application-tree-filter__spinner">
        <mat-spinner [diameter]="20"
            [strokeWidth]="2"></mat-spinner>
    </div>
</ng-template>
