<div class="process-name-block">
    <form [formGroup]="processNameForm">
        <div class="adf-property-label">{{'PROCESS_EDITOR.ELEMENT_PROPERTIES.PROCESS_NAME' | translate}}</div>
        <mat-form-field>
            <input matInput
                   [formControl]="processName"
                   (focusout)="updateProcessName()"
                   (keyup.enter)="updateProcessName()"
                   data-automation-id="process-name">
            <mat-error data-automation-id="process-name-error">
                {{ 'PROCESS_EDITOR.ELEMENT_PROPERTIES.INVALID_PROCESS_NAME' | translate }}
            </mat-error>
        </mat-form-field>
    </form>
</div>
