<ng-container *ngIf="(selectedProjectId$ | async); let selectedProjectId;">
    <div class="project-tree__content">
        <mat-accordion [@.disabled]="true"
            [multi]="true"
            [hideToggle]="true"
            [displayMode]="'flat'"
            class="project-tree">
            <ng-container *ngFor="let filter of filters">
                <ama-project-tree-filter [projectId]="selectedProjectId"
                    [filter]="filter"
                    [expanded]="getFilteredContentExpandedState(filter.type) | async"
                    [contents]="getFilteredContents(filter.type) | async"
                    [loading]="getFilteredContentLoading(filter.type) | async"
                    (closed)="closeFilter($event)"
                    (opened)="openFilter($event)">
                </ama-project-tree-filter>
            </ng-container>
        </mat-accordion>
    </div>
</ng-container>
